#core api
fastapi
uvicorn[standard]
PyYAML
pydantic
pydantic[email]
psycopg[binary]
psycopg2
SQLAlchemy
pytest
pytest-cov
pytest-notimplemented
coverage
black
mypy
lint
passlib
python-jose[cryptography]
#genai
streamlit
langchain
chromadb==0.3.29
transformers
datasets
torch==2.0.1
accelerate
sentence-transformers
bitsandbytes
#faiss-gpu