#core api
vllm==0.2.7
ray[default]==2.9.2
torch==2.1.2
fastapi==0.109.2
uvicorn[standard]
PyYAML
#pydantic
pydantic==2.6.1
pydantic-core==2.16.2
pydantic-settings==2.1.0
pydantic[email]

psycopg[binary]
psycopg2-binary
SQLAlchemy
pytest
pytest-cov
pytest-notimplemented
coverage
black
mypy
lint
passlib
python-jose[cryptography]
#genai
chromadb==0.3.29
transformers
datasets
accelerate
sentence-transformers
bitsandbytes
faiss-gpu
beautifulsoup4
#for audio
librosa